---
import Layout from '@layouts/Layout.astro';
export const prerender = true; // Required
---
<Layout title="Radian R&amp;D" metaDescription="Research, artwork, and development.">
  <div class="border border-solid rounded-xl border-medium p-2 pb-3">
    <div class="font-din-bold text-6xl text-warn text-center">4OH!4 Page Not Found</div>
    <a href="/" class="btn-warn mt-4 w-full h-10">Go Home</a>
  </div>
</Layout>