---
import Layout from '@layouts/Layout.astro';
---
<Layout title="Radian R&amp;D" metaDescription="Research, artwork, and development." pageWidth="max-w-6xl">
  <div class="w-full text-center">Hi</div>
</Layout>